<section class="footer">

    <footer>

        <div class="about">
            <p>About Us</p>
            <h4>ShadhinAi is Bangladeshi AI and ML service provider. ShadhinAi ensures freedom of technology.</h4>
        </div>


        <div class="contactus">
            <p>Contact Us</p>

            <a href="tel:+8801789333514"><span><i class="fa-solid fa-phone"></i></span>+8801789333514</a> <br>
            <a href="mailto:ShadhinAi.com@gmail.com"><span><i class="fa-solid fa-phone"></i></span>ShadhinAi.com@gmail.com</a>
        </div>

        <div class="social">
            <p>Follow Us</p>

            <ul>
                <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            </ul>

        </div>

    </footer>



</section>


<div class="copyright">
    <p><a href="{% url 'home' %}">Copyright © 2023 ShadhinAi</a></p>
</div>
