<div class="main-post">

    

    <h2>Latest Post</h2>

    <div class="main-post-carts"><!--main-post-carts start-->

        

        


    </div><!--main-post-carts end-->








    <!--Latest Blog Start -->

    <h2>Latest Blog</h2>

    <div class="main-post-carts"><!--main-post-carts start-->



        <div class="main-post-cart">

            <div class="photo"><img src="/media/BlogPost/medium/7.webp" alt="" loading="lazy"></div>

            <div class="post-title">
                <h3>ঘরে বসেই তৈরি করুন কথা বলা রোবট মীনা।</h3>
            </div>
        </div>








        <div class="main-post-cart">

            <div class="photo"><img src="/media/BlogPost/medium/8.webp" alt="" loading="lazy"></div>

            <div class="post-title">
                <h3>Digital Smart House Project For Science Fair</h3>
            </div>

        </div>



        <div class="main-post-cart">

            <div class="photo"><img src="/media/BlogPost/medium/9.webp" alt=""
                    loading="lazy"></div>

            <div class="post-title">
                <h3>Covid-19 Updater</h3>
            </div>

        </div>




        <div class="main-post-cart">

            <div class="photo"><img src="/media/BlogPost/medium/10.webp" alt=""
                    loading="lazy"></div>

            <div class="post-title">
                <h3>Bluetooth Controlled Car Using Arduino (L293D Motor Driver)</h3>
            </div>

        </div>



        <div class="main-post-cart">

            <div class="photo"><img src="/media/BlogPost/medium/1.webp" alt=""
                    loading="lazy"></div>

            <div class="post-title">
                <h3>ঘরে বসেই তৈরি করুন কথা বলা রোবট মীনা।</h3>
            </div>

        </div>



    </div><!--main-post-carts end-->


    <!--Latest Blog End -->








    <div class="page-number">

        <ul>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">></a></li>
        </ul>
    </div>

</div>