{% load static %}
<div class="swiper mySwiper home-slider"><!--home-slider start-->

    <div class="swiper-wrapper wrapper"> <!--wrapper start-->



        
        {% for blog in blogs|slice:"6" %}
        <div class="swiper-slide slide">

            <div class="image">
                <a href="#">
                    <img src="{{blog.banner.url}}" alt="{{blog.title}}">
                </a>
            </div>

        </div>
        {% endfor %}
        




        

        
        


    </div><!--wrapper End-->

    <div class="swiper-pagination"></div>

</div><!--home-slider End-->