{% load static %}
<div class="swiper mySwiper home-slider"><!--home-slider start-->

    <div class="swiper-wrapper wrapper"> <!--wrapper start-->



        

        <div class="swiper-slide slide">

            <div class="image">
                <a href="#">
                    <img src="{% static 'media/slider/1.webp' %}" alt="#">
                </a>
            </div>

        </div>




        <div class="swiper-slide slide">

            <div class="image">
                <a href="#">
                    <img src="{% static 'media/slider/4.webp' %}" alt="#">
                </a>
            </div>

        </div>




        <div class="swiper-slide slide">

            <div class="image">
                <a href="#">
                    <img src="{% static 'media/slider/3.webp' %}" alt="#">
                </a>
            </div>

        </div>




        
        


    </div><!--wrapper End-->

    <div class="swiper-pagination"></div>

</div><!--home-slider End-->