/*=========================================== For Tablate ====================*/


@media (max-width:1010px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 1rem 2rem;
    }

    section{
        padding: 2rem 0.5rem;
    }

    header .logo img {
        width: 200px;
    }


    header .search-form.active {
        left: 50%;
        transform: translate(-50%);
    }


    section.home{
        padding: 0;
    }

    section.top-post .carts .cart .heading h3{
        font-size: 16px;
    }

}








/*=========================================== For Moblile Phone ====================*/


@media (max-width:790px) { 

    html {
        font-size: 50%;
    }


    header{
        box-shadow: none;
    }
    


    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: flex;
        background-color: var(--white);
        box-shadow: var(--box-shadow);
        justify-content: space-around;
    }

    
    header .navbar ul li a span,
    header .navbar ul li ul{
        visibility: hidden;
    }

    

    header .logo img {
        width: 160px;
    }

    

    header .search-form.active {
        width: 40rem;
    }


    .home .home-slider .wrapper .slide{
        margin-top: 0;
    }



    .home .home-slider .slide .image a img.slider-pc{
        display: none;
    }

    .home .home-slider .slide .image a img.slider-mobile{
        display: inline;
    }



    .bottom-navbar {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        font-size: 3rem; 
    }



    
    

    section.top-post .carts .cart{
        width: 100%;
    }


}



@media (max-width:660px){
    .home .home-slider .wrapper .slide{
        margin-top: 6rem;
    }
}










/*=========================================== Small Mobile Phone ====================*/


@media (max-width:340px) { 

    html {
        font-size: 43%;
    }

    header .logo img {
        width: 120px;
    }

    header .icons i,
    header .icons a {
    
    height: 3rem;
    line-height: 3rem;
    width: 3rem;
    
    }


    .home .home-slider .wrapper .slide{
        margin-top: 5rem;
    }

}

