@media (max-width:1180px) {

    section{
        padding: 0 1%;
    }


    

    .header-padding{
        margin-top:105px;
    }

    section header .search-bar{
        width: 100%;
    }

    section header .search-bar input{
        width: 100%;
    }

    section header .menu {
        margin-right: 50px;
    }
    
    .taggle-menu{
    
        position: absolute;
        top: 18px;
        right: 15px;
    }
}



@media (max-width:1150px){

    section.main main{

        grid-template-columns: 100%;
        
    }


    



}







@media (max-width:780px){

    .header-padding{
        margin-top:145px;
    }

    


    

    section header .menu{
        width: 100%;
        display: flex;
        justify-content: center;
    }


    section header .logo {
        
        
        display: flex;
        justify-content: center;
        margin: auto;
         
    }


    


    section.main main .main-content{
        padding-right: 0;
        margin-right: 0;
        border-right: 0;
    }



    .main-post-carts{
        grid-template-columns: 1fr 1fr;
    }


    .footer footer {
        margin: 0 10px;
    }


    section header .menu {
        margin-right: 0;
    }

    
}














@media (max-width:420px){


    section header .menu ul li a{
        font-size: 16px;
        
    }

    section header .search-bar{
        margin: 0 1%;
    }



    
}






@media (max-width:360px){

    .header-padding{
        margin-top:130px;
    }


    section header .logo {
        width: 150px;
    }


    section header .menu ul{
        gap: 10px;
    }

    section header .menu ul li a{
        font-size: 13px;
        
    }


    .taggle-menu{
        top: 13px;
    }



    .taggle-menu i{
        font-size: 20px;
    }
}