@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


:root {
    --green: #00BF63;
    --greenLight: #9eeebf;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0px 1px 13px black;
    --white: #fff;
    --gray: #eee;

    --body-color: #152121;
    --header-color: #0F0F0F;
    --gray-light: #272727;
    --red: #FF3131;
    --cart-background-color: #0A0B0B;
    --footer-color: #212529;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1533px;
    margin: auto;
    background: var(--body-color);
    /* var(--body-color) */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

input {
    border: none;
    outline: none;
}

button{
    cursor: pointer;
    border: none;
    
}

section {
    padding: 0 7%;
    
}

main{
    background: var(--header-color);
}


h1, h2, h3, h4, p, a, label, span{
    color: white;
    font-family: 'Poppins', sans-serif;
}



/*-------------------------------------------
header
--------------------------------------------*/

section.header {
    background: var(--header-color);
    box-shadow: var(--box-shadow);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding-right: 1%;
}

section header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap;
}


section header .logo {
    display: flex;
    align-items: center;

}



section header .menu {
    display: flex;
    align-items: center;
    height: 40px;
}

section header .menu ul {
    display: flex;
    gap: 20px;
}


section header .menu ul li a {
    font-size: 20px;
    transition: color .3s;
}

section header .menu ul li a:hover {
    color: var(--red);
}

section header .search-bar {
    background: var(--gray-light);
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;

}



section header .search-bar button {

    background: transparent;
    padding: 0 10px;
    font-size: 20px;
    color: var(--white);
}

section header .search-bar input {
    background-color: #272727;
    height: 40px;
    width: 250px;
    padding-left: 10px;
    color: var(--white);
    font-size: 16px;
}

/*-------------taggle-menu---------------------*/

.taggle-menu{
    display: flex;
    align-items: center;
}

.taggle-menu i{
    color: var(--white);
    font-size: 30px;
}


.taggle-menu-items{
    position: absolute;
    right: 0;
    top: 70px;
    padding: 0 7%;
}



.taggle-menu-items ul{
    background-color: var(--green);
    font-size: 20px;
    text-align: right;
    width: 250px;
}

.taggle-menu-items ul a{
    
    width: 100%;
    padding: 5px;
   
    
    
}

.taggle-menu-items ul li{
    
    border-bottom: 1px solid var(--gray-light);
    border-top: 1px solid var(--gray-light);
    
}

.taggle-menu-items ul li span i{
    font-size: 20px;
    margin-right: 5px;
}


.dripdown1,
.taggle-menu-items{
    display: none;
    
}



.active{
    display: inline;
}


/*-------------user-profile---------------------*/
.user-profile{
    margin-right: 20px;
}

.user-profile .profile-photo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--green);
}

/*-------------------------------------------
scrolling-text
--------------------------------------------*/

.header-padding{
    margin-top: 65px;
}




.scrolling-text p marquee {
    background: var(--header-color);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    padding: 5px 0;
}



/*-------------------------------------------
main
--------------------------------------------*/

section.main main{
    display: grid;
    grid-template-columns: 70% 30%;
    
    
}




section.main main .main-content{
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid var(--white);
    margin-bottom: 10px;
}



/*-------------------------------------------
side-content
--------------------------------------------*/

.side-content h2{
    
    padding: 10px 0;
    font-size: 20px;
    text-align: center;
    background-color: var(--gray-light);
    margin-bottom: 10px;
}


.post-card{
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 5px 0;

}




.post-card .post-title{
    background: var(--cart-background-color);
    margin-right: 10px;
    display: flex;
    align-items: center;
}


.post-card .post-title h3{
    
    padding-left: 5px;
    font-size: 16px;
}

/*-------------------------------------------
categories
--------------------------------------------*/
.categories ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.side-content .categories ul{
    margin-bottom: 10px;
}
.categories ul li{
    background: var(--gray-light);
    margin: 5px;
    border-radius: 5px;
}

.categories ul li a{
    
    font-size: 16px;
    padding: 10px;
}

/*-------------------------------------------
main-post
--------------------------------------------*/

.main-post h2{
    
    padding: 10px 0;
    font-size: 20px;
    text-align: center;
}

.main-post-carts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    
    
}

.main-post-cart{
    background: var(--gray-light);
    border-radius: 5px;
    overflow: hidden;
}





.main-post-cart .post-title h3{
    font-size: 16px;
    padding: 5px;
}




/*-------------------------------------------
page-number
--------------------------------------------*/
.page-number{
    margin-top: 10px;
}
.page-number ul{
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.page-number ul li a{
    display: block;
    margin: 0 5px;
    
    height: 30px;
    line-height: 30px;
    width: 30px;

    background: var(--gray-light);
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    
}


/*-------------------------------------------
footer
--------------------------------------------*/

section.footer{
    background: var(--footer-color);
    margin-top: 10px;
    
}

section.footer div{
    margin-bottom: 20px;
}


section.footer footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--white);
    padding: 20px 0;
}


section.footer footer p{
    font-size: 20px;
    margin-bottom: 10px;
}


section.footer footer .about h4{
    font-size: 16px;
    font-weight: lighter;
    line-height: 20px;
    margin-bottom: 10px;
    width: 350px;
}


section.footer footer .social ul{
    display: flex;
}


section.footer footer .social ul li a{
    color: var(--gray-light);
    
    display: block;
    margin-right:  10px;
    
    height: 30px;
    line-height: 30px;
    width: 30px;

    background: var(--white);
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    
}






.contactus a span{
    margin-right: 10px;
}

.copyright{
    background: var(--header-color);
    padding: 10px 0;
}


.copyright p{
    
    text-align: center;
    
    
}






/*-------------------------------------------
blog-post
--------------------------------------------*/
.page-header{
    font-size: 25px;
    padding: 10px 5px;
    text-align: center;
    background: var(--gray-light);
}

.blog-post h2{
    color: var(--white);
    padding: 10px 5px;
    font-size: 20px;
    background: var(--gray-light);
}

.blog-post p{
    color: var(--white);
    font-size: 16px;
    text-align: justify;
    padding: 10px 5px;
}

.blog-post ul{
    
    list-style: disc;
    margin-left: 30px;
}

.blog-post ul li{
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 5px 0;
}

.blog-post img{
    margin: 5px 0;
}



/*-------------------------------------------
page-not-found
--------------------------------------------*/


.page-not-found{
    text-align: center;
    margin: 30px 0;
}

.page-not-found a{
    margin-top: 20px;
    display: inline-block;
    background: var(--gray-light);
    padding: 10px 15px;
    border-radius: 5px;
}



/*-------------------------------------------
sitemap
--------------------------------------------*/



.site-map .carts .cart h2{
    margin: 10px;
}



.site-map .carts .cart ul{
    color: var(--white);
    list-style: disc;
    margin-left: 30px;
}


.site-map .carts .cart ul li{
    margin: 5px 0;
}


.site-map .carts .cart ul li a{
    color: var(--red);
}


.site-map .carts .cart ul li a:hover{
    text-decoration: underline;
}



/*-------------------------------------------
user
--------------------------------------------*/

.user{
    padding: 10px;
}

.user .profile-photo{
    width: 250px;
    height: 250px;
    margin: 20px auto;
    border-radius: 50%;
    overflow: hidden;
}


.user .user-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}




.update-user-details{
    background: var(--gray-light);
    padding: 10px;
}

.user .user-details h1,
.user .user-details p{
    text-align: center;
    margin-bottom: 10px;
}

.update-user-details .items{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.update-user-details .items input{
    padding: 10px;
}

.user form button{
    padding: 10px;
    display: flex;
    margin: 10px auto;
    background: var(--green);
    color: var(--white);
    font-size: 16px;
    border-radius: 5px;
}


table{

    
    color: white;
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    width: 100%;
   
}

tr{
    margin: 20px 0;
    display: flex;
    background-color: var(--gray-light);
    width: 100%;
}

table th{
    padding: 10px;
}

table tr th:first-child{
    display: inline-block;
    width: 50%;
    background: var(--green);
}



/*-------------------------------------------
sighin
--------------------------------------------*/
.container{
    height: 100vh;
    width: 100%;
    background-color: #4070f4;
    display: flex;
    align-items: center;
    justify-content: center;
}


.form{
    background: var(--green);
    border-radius: 5px;
    max-width: 430px;
    width: 100%;
    padding: 30px;
}

.form-content h1{
    font-size: 28px;
    text-align: center;
}



.form-content form{
    margin-top: 30px;
}


.form-content form .field,
.media-options .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
    border-radius: 5px;
    
}


.form-content form .field input,
.form-content form .field button{
    height: 100%;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
}

.form-content form .field button{
    background-color: #0171d3;
    color: #fff;
}

.form-content form .field input:focus{
    border-bottom-width: 2px;
}

.form-content form .field button:hover{
    background-color: #016dcb;
    
}

.form-content form .field input{
    padding: 0 15px;
    border: 1px solid #CACACA;
    
}


.form-link{
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a{
    font-size: 14px;
    color: #232836;
}

.form a{
    color: #0171d3;
}

.form-content a:hover{
    text-decoration: underline;
}

.eye-icon{
    font-size: 18px;
    color: #8b8b8b;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.line{
    height: 1px;
    width: 100%;
    position: relative;
    background-color: #d4d4d4;
    margin: 30px 0;
}

.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--green);
    color: #232836;
    padding: 0 15px;
    font-family: 'Poppins', sans-serif;
}


.media-options a{
    display: flex;
    background-color: #4267b2;
    align-items: center;
    justify-content: center;
}


a.facebook{
    background: #4267b2;
    color: #fff;
}


a.facebook .facebook-icon{

    height: 28px;
    width: 28px;
    line-height: 28px;
    text-align: center;
    color: #0171d3;
    background-color: #fff;
    font-size: 20px;
    border-radius: 50%;
}


.facebook-icon{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}


.form .google{
    background-color: #fff;
}

.form .google span{
    color: var(--header-color);
}