:root{
    --green: #27ae60;
    --greenLight: #27ae5fad;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: .5rem .5rem rgba(0, 0, 0, .1);
    --white: #fff;
    --gray: #eee;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    
    text-transform: capitalize;
    transition: all .2s linear;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--white);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    box-shadow: var(--box-shadow);
}

header .logo img{
    width: 200;
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color: var(--white);
    background: var(--green);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: var(--gray);
}


header .icons i:hover,
header .icons a:hover{
    color: var(--white);
    background: var(--green);
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}


header .icons{
    position: relative;
}

header .icons input{
    width: 220px;
    padding: 10px;
    background: var(--greenLight);
    color: var(--white);
    font-size: 1.7rem;
    position: absolute;
    left: -150px;
    top: 62px;
    display: none;
}
    

.fa-search{
    z-index: 10 !important;
    
}
    
    













/* media queries */
@media (max-width:991px){
    html{
        font-size: 55%;
    }

    header{
        padding: 1rem 2rem;
    }

    header .logo img{
        width: 200px;
    }
}


@media (max-width:768px){
    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        padding: 1rem;
    }

    header .logo img{
        width: 160px;
    }

    .navbar{
        text-align: center;
        background-color: var(--green);
        
    }

}