<div class="page-number">

    <ul>
        {% if blogs.has_previous %}
        <li><a href="?page={{page}}"><</a></li>
        {% endif %}


        {% for page in blogs.paginator.page_range %}


        {% if page == blogs.number %}
        <li><a class="active" href="?page={{page}}">{{page}}</a></li>
        
        {% else %}
        <li><a href="?page={{page}}">{{page}}</a></li>

        
        {% endif %}
        {% endfor %}
        
        

        {% if blogs.has_next %}
        <li><a href="?page={{page}}">></a></li>
        {% endif %}
        
    </ul>

</div>