{% extends 'base.html' %}

{% block title %}home{% endblock title %}


{% block custom_css %}<!--custom_css start-->
<style>

    section.header-padding{
        margin-top: 0;
    }
    /*-------------------------------------------
    main-post start
    --------------------------------------------*/

    .main-post h2 {

        padding: 10px 0;
        font-size: 20px;
        text-align: center;
    }

    .main-post-carts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;


    }

    .main-post-cart {
        background: var(--gray-light);
        border-radius: 5px;
        overflow: hidden;
    }





    .main-post-cart .post-title h3 {
        font-size: 16px;
        padding: 5px;
    }


    /*-------------------------------------------
    main-post end
    --------------------------------------------*/




    /*-------------------------------------------
    page-number start
    --------------------------------------------*/
    .page-number {
        margin-top: 10px;
    }

    .page-number ul {
        display: flex;
        align-items: center;
        justify-content: center;

    }


    .page-number ul li a {
        display: block;
        margin: 0 5px;

        height: 30px;
        line-height: 30px;
        width: 30px;

        background: var(--gray-light);
        text-align: center;
        font-size: 18px;
        border-radius: 50%;

    }


    /*-------------------------------------------
    page-number end
    --------------------------------------------*/
</style>
{% endblock custom_css %}<!--custom_css end-->




{% block scrolling_text %}
<div class="header-padding scrolling-text">

    <p>
        <marquee>Hand Over Your Problem To ShadhinAi And Make True Your Imagination.</marquee>
    </p>

</div>

<h1 style="display: none;">ShadhinAi | Bangladeshi AI service provider</h1>
{% endblock scrolling_text %}




{% block main_content %}


{% include 'slider.html' %}
{% include 'latestPost.html' %}


{% endblock main_content %}









{% block custom_script %}
<script>

    /*========= home-slider Start =========*/

    var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true
        },

        loop: true,
    });

    /*=========== home-slider End ===========*/


</script>
{% endblock custom_script %}