<div class="swiper mySwiper home-slider"><!--home-slider start-->

    <div class="swiper-wrapper wrapper"> <!--wrapper start-->



        {% for slide in sliders %}

        <div class="swiper-slide slide">

            <div class="image">
                <a href="{{slide.destination_link}}">
                    <img src="/media/{{slide.image}}" alt="{{slide.alt_data}}">
                </a>
            </div>

        </div>
            
        {% endfor %}

        


    </div><!--wrapper End-->

    <div class="swiper-pagination"></div>

</div><!--home-slider End-->