<div class="swiper mySwiper home-slider"><!--home-slider start-->

    <div class="swiper-wrapper wrapper"> <!--wrapper start-->



        <div class="swiper-slide slide">

            <div class="image">
                <a href="">
                    <img src="/media/BlogPost/large/1.webp" alt="">
                </a>
            </div>

        </div>




        <div class="swiper-slide slide">

            <div class="image">
                <a href="">
                    <img src="/media/BlogPost/large/2.webp" alt="">
                </a>
            </div>

        </div>




        <div class="swiper-slide slide">

            <div class="image">
                <a href="">
                    <img src="/media/BlogPost/large/3.webp" alt="">
                </a>
            </div>

        </div>





        <div class="swiper-slide slide">

            <div class="image">
                <a href="">
                    <img src="/media/BlogPost/large/4.webp" alt="">
                </a>
            </div>

        </div>




        


    </div><!--wrapper End-->

    <div class="swiper-pagination"></div>

</div><!--home-slider End-->