{% extends '../base/base.html' %}
{% load static %}
{% block title %}{{blog.title}}{% endblock title %}<!--title-->



{% block custom_css %}<!--custom_css start-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" /><!--Swiper CDN -->
<style>
    /*-------------------------------------------
        blog-post start
        --------------------------------------------*/


        

        .blog-post h2 {
            color: var(--white);
            padding: 10px 5px;
            font-size: 20px;
            background: var(--gray-light);
        }

        .blog-post p {
            color: var(--white);
            font-size: 16px;
            text-align: justify;
            padding: 10px 5px;
        }

        .blog-post ul {

            list-style: disc;
            margin-left: 30px;
        }

        .blog-post ul li {
            color: var(--white);
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            padding: 5px 0;
        }

        .blog-post img {
            margin: 5px 0;
        }

        /*-------------------------------------------
        blog-post end
        --------------------------------------------*/

/*-------------------------------------------
        comment-section start
        --------------------------------------------*/


        
.comment-section{
    margin-top: 10px;
}

.comment-section a.signin{
    margin-left: 10px;
    font-weight: bold;
}

.comment-section hr{
    margin: 10px 0;
}


.comment-section .comment{
    display: flex;
    align-content: center;
    padding: 0 10px;
    margin-bottom: 30px;
}

.comment-section .comment .user{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.comment-section .comment .user img{
    width: 100%;
    height: 100%;
}



.comment-section .comment form{
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 10px;
}


.comment-section .comment form input{
    height: 30px;
    border-radius: 5px;
    padding: 0 5px;
    width: 40%;
}

.comment-section .comment form button{
    padding: 5px 10px;
    font-size: 16.6px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: var(--green);
    color: var(--white);
}


.comment p{
    width: 44.5%;
    
    align-items: center;
    margin-left: 10px;
    background: var(--gray-light);
    padding: 0 5px;
    border-radius: 5px;
}
        
/*-------------------------------------------
        comment-section end
        --------------------------------------------*/

    /*-------------------------------------------
    page-number end
    --------------------------------------------*/
</style>
{% endblock custom_css %}<!--custom_css end-->




{% block main_content %}<!--main_content start-->


<div class="blog-post"><!--blog-post start-->

    <h1 class="page-header">{{blog.title}}</h1>

    <img src="{{blog.banner.url}}" alt="">

    <p>{{blog.description}}</p>


    

    

    <h2>টপ প্রজেক্টগুলো নিম্মরুপ :-</h2>

    <ul>
        <li>রোবট মীনা</li>
        <li>স্মার্ট ডাস্টবিন</li>
        <li>দৃষ্টি-প্রতিবন্ধীদের জন্য কৃত্রিম চোখ</li>
        <li>মুখের মাস্ক নির্ভরশীল সিকিউরিটি সিস্টেম</li>
        <li>স্মার্ট হাউজ</li>
        <li>Movie Recommender System
        </li>
    </ul>


    

    <h2>Source Code</h2>

    <script
        src="https://emgithub.com/embed-v2.js?target=https%3A%2F%2Fgithub.com%2FShantonu-Acharjee%2FNews-Application-Python%2Fblob%2Fmain%2Fmain.py&style=default&type=code&showBorder=on&showLineNumbers=on&showFileMeta=on&showFullPath=on&showCopy=on"></script>

</div><!--blog-post start-->









<div class="comment-section"><!--comment-section start-->


    <a class="signin" href="">Sign in</a>
    <hr>

    <div class="comment">

        <div class="user">
            <a href="">
                <img src="{% static 'media/user/ShadinAi Logo.png' %}" alt="">
            </a>
        </div>



        <form action="" class="write-comment">
            <input type="text" placeholder="Share your thoughts...">
            <button type="submit">Post</button>
        </form>


    </div>

    




    <div class="comment">

        <div class="user">
            <a href="">
                <img src="{% static 'media/user/ShadinAi Logo.png' %}" alt="">
            </a>
        </div>



        <p><strong>{{blog.user.username}},</strong> <br> sit amet consectetur.
            hi how are your Lorem ipsum dolor sit Lorem ipsum dolor sit amet consectetur.
        </p>


    </div>


    <div class="comment">

        <div class="user">
            <a href="">
                <img src="{% static 'media/user/ShadinAi Logo.png' %}" alt="">
            </a>
        </div>



        <p>Lorem ipsum dolor sit amet consectetur.
            hi how are your Lorem ipsum dolor sit Lorem ipsum dolor sit amet consectetur.
        </p>


    </div>


</div><!--comment-section end-->

<small>{{blog.user.username}}</small> <br>
<small>{{blog.blog_comments.all.count}} Comments</small> <br>
<small>{{blog.category.title}}</small>
{% endblock main_content %}<!--main_content end-->











