<div class="main-post-carts"><!--main-post-carts start-->

    

    {% for blog in blogs %}

    <div class="main-post-cart">

        <a href="{% url 'blog_details' blog.slug %}"><div class="photo"><img src="{{blog.banner.url}}" alt="{{blog.title}}" loading="lazy"></div></a>


        <div class="post-date-time">

            <small>
                <i class="fa-solid fa-clock"></i>
                {{blog.created_date}}
            </small>


            <small>
                <i class="fa-solid fa-tag"></i>

                {% for tag  in blog.tags.all %}
                <a href="{% url 'tag_blogs' tag.slug  %}">{{tag.title}} | </a>
                {% endfor %}
                
                
            </small>

        </div>


        <a href="{% url 'blog_details' blog.slug %}">
            <div class="post-title">
                <h3>{{blog.title|truncatewords:10}}</h3>
            </div>
        </a>

    </div>

    {% endfor %}
    
</div><!--main-post-carts end-->







