{% extends '../base/base.html' %}
{% block title %}{{blog.title}}{% endblock title %}<!--title-->



{% block custom_css %}<!--custom_css start-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" /><!--Swiper CDN -->
<style>
    /*-------------------------------------------
        blog-post start
        --------------------------------------------*/


        

        .blog-post h2 {
            color: var(--white);
            padding: 10px 5px;
            font-size: 20px;
            background: var(--gray-light);
        }

        .blog-post p {
            color: var(--white);
            font-size: 16px;
            text-align: justify;
            padding: 10px 5px;
        }

        .blog-post ul {

            list-style: disc;
            margin-left: 30px;
        }

        .blog-post ul li {
            color: var(--white);
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            padding: 5px 0;
        }

        .blog-post img {
            margin: 5px 0;
        }

        /*-------------------------------------------
        blog-post end
        --------------------------------------------*/


        /*-------------------------------------------
        main-post start
        --------------------------------------------*/

        .main-post h2 {

            padding: 10px 0;
            font-size: 20px;
            text-align: center;
        }

        .main-post-carts {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 10px;


        }

        .main-post-cart {
            background: var(--gray-light);
            border-radius: 5px;
            overflow: hidden;
        }





        .main-post-cart .post-title h3 {
            font-size: 16px;
            padding: 5px;
        }


        /*-------------------------------------------
        main-post end
        --------------------------------------------*/


    /*-------------------------------------------
    page-number end
    --------------------------------------------*/
</style>
{% endblock custom_css %}<!--custom_css end-->




{% block main_content %}<!--main_content start-->


<div class="blog-post"><!--blog-post start-->

    <h1 class="page-header">{{blog.title}}</h1>

    <img src="{{blog.banner.url}}" alt="">

    <p>{{blog.description}}</p>


    

    

    <h2>টপ প্রজেক্টগুলো নিম্মরুপ :-</h2>

    <ul>
        <li>রোবট মীনা</li>
        <li>স্মার্ট ডাস্টবিন</li>
        <li>দৃষ্টি-প্রতিবন্ধীদের জন্য কৃত্রিম চোখ</li>
        <li>মুখের মাস্ক নির্ভরশীল সিকিউরিটি সিস্টেম</li>
        <li>স্মার্ট হাউজ</li>
        <li>Movie Recommender System
        </li>
    </ul>


    

    <h2>Source Code</h2>

    <script
        src="https://emgithub.com/embed-v2.js?target=https%3A%2F%2Fgithub.com%2FShantonu-Acharjee%2FNews-Application-Python%2Fblob%2Fmain%2Fmain.py&style=default&type=code&showBorder=on&showLineNumbers=on&showFileMeta=on&showFullPath=on&showCopy=on"></script>

</div><!--blog-post start-->











<small>{{blog.user.username}}</small> <br>
<small>{{blog.blog_comments.all.count}} Comments</small> <br>
<small>{{blog.category.title}}</small>
{% endblock main_content %}<!--main_content end-->











