{% extends '../base/base.html' %}
{% load static %}

{% block title %}Blogs{% endblock title %}


{% block custom_css %}<!--custom_css start-->
<style>

    /*-------------------------------------------
    main-post start
    --------------------------------------------*/

    .main-post h2{
        
        padding: 10px 0;
        font-size: 20px;
        text-align: center;
    }

    .main-post-carts{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        
        
    }

    .main-post-cart{
        background: var(--gray-light);
        border-radius: 5px;
        overflow: hidden;
    }





    .main-post-cart .post-title h3{
        font-size: 16px;
        padding: 5px;
    }


    /*-------------------------------------------
    main-post end
    --------------------------------------------*/




    /*-------------------------------------------
    page-number start
    --------------------------------------------*/
    .page-number {
        margin-top: 10px;
    }

    .page-number ul {
        display: flex;
        align-items: center;
        justify-content: center;

    }


    .page-number ul li a {
        display: block;
        margin: 0 5px;

        height: 30px;
        line-height: 30px;
        width: 30px;

        background: var(--gray-light);
        text-align: center;
        font-size: 18px;
        border-radius: 50%;

    }


    /*-------------------------------------------
    page-number end
    --------------------------------------------*/
</style>
{% endblock custom_css %}<!--custom_css end-->



{% block main_content %}


<div class="main-post"> <!--main-post start-->


    <div class="categories"> <!--categories start-->

        <ul>

            <li><a href="#">All</a></li>
            <li><a href="#">Electronics</a></li>
            <li><a href="#">Python</a></li>
            <li><a href="#">ML</a></li>
            <li><a href="#">AI</a></li>
            <li><a href="#">Electrical</a></li>
            

        </ul>

    </div><!--categories end-->


    <h2>All Blogs</h2>

    <div class="main-post-carts"><!--main-post-carts start-->



        <div class="main-post-cart">

            <div class="photo"><img src="{% static 'media/posts/4.webp' %}" alt="" loading="lazy"></div>

            <div class="post-title">
                <h3>ঘরে বসেই তৈরি করুন কথা বলা রোবট মীনা।</h3>
            </div>
        </div>





        <div class="main-post-cart">

            <div class="photo"><img src="{% static 'media/posts/4.webp' %}" alt="" loading="lazy"></div>

            <div class="post-title">
                <h3>Age And Gender Recognition Useing Python</h3>
            </div>
        </div>




        <div class="main-post-cart">

            <div class="photo"><img src="{% static 'media/posts/3.webp' %}" alt=""
                    loading="lazy"></div>

            <div class="post-title">
                <h3>Digital Smart House Project For Science Fair</h3>
            </div>

        </div>



        <div class="main-post-cart">

            <div class="photo"><img src="" alt="" loading="lazy">
            </div>

            <div class="post-title">
                <h3>Covid-19 Updater</h3>
            </div>

        </div>




        <div class="main-post-cart">

            <div class="photo"><img src="" alt=""
                    loading="lazy"></div>

            <div class="post-title">
                <h3>Bluetooth Controlled Car Using Arduino (L293D Motor Driver)</h3>
            </div>

        </div>



        <div class="main-post-cart">

            <div class="photo"><img src="" alt=""
                    loading="lazy"></div>

            <div class="post-title">
                <h3>ঘরে বসেই তৈরি করুন কথা বলা রোবট মীনা।</h3>
            </div>

        </div>



        <div class="main-post-cart">

            <div class="photo"><img src="" alt="" loading="lazy"></div>

            <div class="post-title">
                <h3>ঘরে বসেই তৈরি করুন কথা বলা রোবট মীনা।</h3>
            </div>

        </div>




        <div class="main-post-cart">

            <div class="photo"><img
                    src="" alt=""
                    loading="lazy"></div>

            <div class="post-title">
                <h3>ঘরে বসেই তৈরি করুন কথা বলা রোবট মীনা।</h3>
            </div>

        </div>




        <div class="main-post-cart">

            <div class="photo"><img src="" alt=""
                    loading="lazy"></div>

            <div class="post-title">
                <h3>ঘরে বসেই তৈরি করুন কথা বলা রোবট মীনা।</h3>
            </div>

        </div>






        <div class="main-post-cart">

            <div class="photo"><img src="" alt="" loading="lazy"></div>

            <div class="post-title">
                <h3>Age And Gender Recognition Useing Python</h3>
            </div>
        </div>




        <div class="main-post-cart">

            <div class="photo"><img src="" alt=""
                    loading="lazy"></div>

            <div class="post-title">
                <h3>Digital Smart House Project For Science Fair</h3>
            </div>

        </div>



        <div class="main-post-cart">

            <div class="photo"><img src="" alt="" loading="lazy">
            </div>

            <div class="post-title">
                <h3>Covid-19 Updater</h3>
            </div>

        </div>



    </div><!--main-post-carts end-->









    <div class="page-number">

        <ul>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">></a></li>
        </ul>
    </div>

</div><!--main-post end-->

{% endblock main_content %}