@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


:root {
    --green: #00BF63;
    --greenLight: #9eeebf;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0px 1px 13px black;
    --white: #fff;
    --gray: #eee;

    --body-color: #152121;
    --header-color: #0F0F0F;
    --gray-light: #272727;
    --red: #FF3131;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1533px;
    margin: auto;
    background: var(--body-color);
    /* var(--body-color) */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

input {
    border: none;
    outline: none;
}

button{
    cursor: pointer;
    border: none;
    
}

section {
    padding: 0 7%;
}




/*-------------------------------------------
header
--------------------------------------------*/

section.header {
    background: var(--header-color);
    box-shadow: var(--box-shadow);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

section header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap;
}


section header .logo {
    display: flex;
    align-items: center;

}



section header .menu {
    display: flex;
    align-items: center;
    height: 40px;
}

section header .menu ul {
    display: flex;
    gap: 20px;
}


section header .menu ul li a {
    font-size: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    transition: color .3s;
}

section header .menu ul li a:hover {
    color: var(--red);
}

section header .search-bar {
    background: var(--gray-light);
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;

}



section header .search-bar button {

    background: transparent;
    padding: 0 10px;
    font-size: 20px;
    color: var(--white);
}

section header .search-bar input {
    background-color: #272727;
    height: 40px;
    width: 300px;
    padding-left: 10px;
    color: var(--white);
    font-size: 16px;
}



/*-------------------------------------------
slider
--------------------------------------------*/

.header-padding{
    margin-top: 65px;
}




.scrolling-text p marquee {
    background: var(--header-color);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    padding: 5px 0;
}