@media (max-width:850px) {
    header.top-header .l-s-u .logo a img{
        width: 150px;
    }

    header.top-header .l-s-u .search-form {
        width: 350px;

    }


    .user-section a{
        margin-left: 10px;
        height: 30px;
        line-height: 30px;
        width: 30px;
        
        font-size: 15px;
        
        
    }


    .navbar ul li{
        padding: 8px 0;
    }

    .navbar ul li a{
        font-size: 13px;
    }




}








