{% extends '../base/base.html' %}
{% load static %}
{% block title %}{{blog.title}}{% endblock title %}<!--title-->




{% block custom_css %}<!--custom_css start-->
<style>
    /*-------------------------------------------
        login Start
        --------------------------------------------*/

    .login {
        background: var(--gray-light);
        max-width: 430px;
        width: 100%;
        margin: 20px auto;
        padding: 30px;
        border-radius: 5px;
    }

    .login h1 {
        text-align: center;
        margin-bottom: 10px;
    }

    .login form {
        display: flex;
        flex-direction: column;
    }

    .login form input {
        height: 50px;
        margin: 10px 0;
        padding: 0 10px;
        border-radius: 5px;
    }

    .login form button {
        height: 50px;
        padding: 0 10px;
        border-radius: 5px;
        margin-top: 30px;
        margin-bottom: 10px;
        background: var(--green);
        font-size: 16px;
        font-weight: 700;
        color: var(--header-color);
        text-transform: uppercase;
    }

    .login form span {
        text-align: center;
        font-size: 13px;
    }

    .login form a {
        color: var(--red);
    }

    .login form a:hover {
        text-decoration: underline;
    }

    .login hr {
        margin: 30px 0;
    }

    .login-with-social {
        display: flex;
        justify-content: space-between;

    }

    .login-with-social button {
        width: 100%;
        margin: 10px;
        padding: 15px 20px;
        border-radius: 5px;
        font-size: 16px;
    }

    .login-with-social button.facebook {
        background: var(--facebook-color) !important;
    }


    /*-------------------------------------------
        login end
    --------------------------------------------*/




    /*-------------------------------------------
        alert Start
    --------------------------------------------*/

   
    .alert {
        padding: 10px 20px;
        max-width: 430px;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        margin: auto;
        margin-top: 10px;
        position: relative;
        background-color: var(--green);
    }


    




    .alert .close-btn {
        background-color: #ffd080;
        padding: 15px 18px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

    }

    .alert .close-btn:hover {
        background-color: #ffc766;
    }

    .alert .close-btn i {
        color: #ce8500;
        font-size: 22px;
        line-height: 40px;
    }


    .deactive {
        display: none;
    }


    /*-------------------------------------------
        alert end
    --------------------------------------------*/

</style>
{% endblock custom_css %}<!--custom_css end-->




{% block main_content %}<!--main_content start-->
{% include "../base/alert.html" %}

<div class="login">

    <h1>Signup</h1>


    <form action="" method="POST">

        {% csrf_token %}
        <input required type="text" placeholder="Firstname" name="username">
        <input required type="email" placeholder="Email" name="email">
        <input required type="text" placeholder="Password" name="password">
        <input required type="text" placeholder="Retype Password" name="confirm_password">

        <button type="submit">Signup</button>
        <span>Alrady have an account ? <a href="{% url 'login' %}">Login</a></span>

    </form>

    <hr>

    <div class="login-with-social">
        <button class="facebook">Faceboook</button>
        <button>Google</button>
    </div>

</div>
{% endblock main_content %}<!--main_content end-->




{% block custom_script %}
<script>
    /*==========Alert Start=========*/
    let AlertItem = document.querySelector('.alert');
    document.querySelector('#close-btn').onclick = () => {
        AlertItem.classList.toggle('deactive');
    }
    /*==========Alert End=========*/
</script>
{% endblock custom_script %}